################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/onnxRuntimeSegmentation/bin/Debug/net6.0
/onnxRuntimeSegmentation/obj
*.onnx
